body {
    background-color: rgba(237, 237, 237, 1);
}

table, th, td {
    border: 0px solid black;
}

h1 {
    color: rgba(196, 89, 17, 1);
    font-family: arial, calibri;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

p  {
    color: rgba(83, 129, 53, 1);
    font-family: arial, calibri;
    font-size: 12px;
    text-align: left;
}

p1 {
    color: rgba(47, 84, 150, 1);
    font-family: arial, calibri;
    font-size: 12px;
    text-align: left;
}
